<div class="menu">

    <h1>Welcome to Booking Page</h1>
    <div class="row">
        <div class="seatcolumn">
            <div class="seattop-content">
                <label>From:</label>
                <input type="text" #from>
                <label>To:</label>
                <input type="text" #to>
                <label>Date:</label>
                <input type="date" #date>
                <input type="submit" value="Search" (click)="valuepass(from.value,to.value,date.value)">
            </div>

            <div class="seatcontent">
                <table class="seattable">
                    <tr>
                        <th>Source:{{fromsource |uppercase}}</th>
                        <th>Destinations:{{todesitnations | uppercase}}</th>
                        <th>Seat Available:{{seatavailable}}</th>
                        <th>Seat Booked:{{bookedseat}}</th>
                    </tr>
                </table>
                <div class="seatposition">
                    <div class="lowerbirth">
                        <button type="button" [style.background]="bg[seatarray]" [style.background]="bg1[seatarray]" *ngFor="let seatarray of seat" (click)="seatbookclr(seatarray)">{{seatarray}}</button>
                        
                    </div>
                    <hr>
                    <div class="upperBirth">
                       

                    </div>
                    <input type="submit" value="BookTicket" (click)="confirmtkt()">
                </div>
            </div>

        </div>
        <div class="registercolumn" [style.visibility]="visible">
            <label>Name:</label>
            <input type="text" #passname value=""><br>
            <label>Age:</label>
            <input type="text" #passage value=""><br>
            <label>Phone No:</label>
            <input type="text" #passno value=""><br>
            <label>Journey of Date:</label>
            <input type="text" #passdate value="{{journeyDate}}" readonly><br>
            <label>Select Seat No:</label>
            <input type="text" value="{{Selectedseat}}" #passseatno readonly><br>
            <label>Payment</label>
            <input type="text" value="{{Payment | currency:'INR'}}" readonly #passmoney>
            <br>
            <input type="reset" value="Submit" (click)=passDetails(passname.value,passage.value,passno.value,passdate.value,passseatno.value,passmoney.value)>

            
        </div>
    </div>

</div>