<div class="menu">
    <div class="row">
        <div class="col1">
            <div class="col1row1">
                <img  class="crimg1"src="../../assets/Images/link_image.png" width="100%">
                <img class="crimg2" src="../../assets/Images/Facebook.png">

            </div>
            <div class="col1row2">
                <img class="crimg2" src="../../assets/Images/Facebook.png">
                <header>6 march 2020</header>
                <p>lorrem ipsum, is simply dummy text of 
                    te printing and industry printing and printing and 
                    typeteuing indutrsy type write indystrt</p>
            </div>

        </div>
        <div class="col2">
            <img class="img6" src="../../assets/Images/post_big.png">
            
        </div>
        <div class="col3">
            <div class="col3row1">
                <img class="crimg3" src="../../assets/Images/Facebook.png">
                <header>6 march 2020</header>
                <p>lorrem ipsum, is simply dummy text of 
                    te printing and industry printing and printing and 
                    typeteuing indutrsy type write indystrt</p>
            </div>
            <div class="col3row2">
                <img  class="crimg3"src="../../assets/Images/link_image.png" width="100%">
                <img class="crimg4" src="../../assets/Images/Facebook.png">

            </div>

        </div>
            
        </div>
    </div>
<div class="clr"></div>