<div class="menu">
    <div class="row">
        <div class="col1">
           <img src="../../assets/Images/quote.png"> 
           <h1>with the initial steps of getting my required score for IELTS I was able to apply for a PR</h1>
           <span>Terezia T.</span>
           <h4>-IELTS Centre</h4>
           <div class="star">
               <img src="../../assets/Images/star_filled.png">
               <img src="../../assets/Images/star_filled.png">
               <img src="../../assets/Images/star_filled.png">
               <img src="../../assets/Images/star_filled.png">
               <img src="../../assets/Images/star.png">
           </div>
        </div>
        <div class="col2">
            <div class="col2img">
                <img class="img1" src="../../assets/Images/testimonial.png">
            <img class="img2" src="../../assets/Images/banner_bg.png" height="300px">
            <img class="img3" src="../../assets/Images/org_img2.png">
            </div>
            
        </div>
    </div>
</div>

<div class="clr"></div>