
<div class="main">
    <div class="background">
    
    </div>
    <div class="background-content">
        <h1>
            This should be a maximum of 
            seventy two characters. This should be a max
        </h1>
        <header>30 Oct 2020</header>
        <h3>
            This is a brief description to give users 
            context to the website. Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Tellus, id preti
        </h3>
        <div class="cost"><a href="#">Learn more About us<img src="../../assets/Images/circle_arrow.svg "></a>
            <span>Cost:49.95</span>
        </div>
        
    </div>

</div>

<div class="clr"></div>