<div class="menuthird">
    <header>{{thirdrowheader}}</header>
    <div class="row">
        <div class="col1">
            <div class="col-content">
                <h6>Author profile</h6>
            <h4>Learn About IELTS</h4>
            <p>This is brief of description to give users context to the website.Leran 
                ipsum dolor sit amet,consectur adipsiting elit,Telis ,id preti</p>
                <div class="cost">
                <a href="#">Readmore<img src="../../assets/Images/circle_arrow_green.svg"></a>
                <span>Cost:49.95</span>
                </div>
            </div>
            
        </div>
        <div class="col2">
            <div class="col-content">
                <h6>Author profile</h6>
            <h4>Learn About IELTS</h4>
            <p>This is brief of description to give users context to the website.Leran 
                ipsum dolor sit amet,consectur adipsiting elit,Telis ,id preti</p>
                <div class="cost">
                <a href="#">Readmore<img src="../../assets/Images/circle_arrow_green.svg"></a>
                <span>Cost:49.95</span>
                </div>
            </div>
        </div>
        <div class="col3">
            <div class="col-content">
                <h6>Author profile</h6>
            <h4>Learn About IELTS</h4>
            <p>This is brief of description to give users context to the website.Leran 
                ipsum dolor sit amet,consectur adipsiting elit,Telis ,id preti</p>
                <div class="cost">
                <a href="#">Readmore<img src="../../assets/Images/circle_arrow_green.svg"></a>
                <span>Cost:49.95</span>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="clr">