<div class="menu">
    <div class="row">
        <div class="col1">
            <header>Practice</header>
            <ul class="practicelist">
                <li><a href="">The IELTS study plan</a></li>
                <li><a href="">IELTS MAster class</a></li>
                <li><a href="">IELTS Progress check</a></li>
                <li><a href="">IELTS Writting check</a></li>
            </ul>
        </div>
        <div class="col2">
            <header>About Us</header>
            <ul class="aboutlist">
                <li><a href="">The IELTS study plan</a></li>
                <li><a href="">IELTS MAster class</a></li>
                <li><a href="">IELTS Progress check</a></li>
                <li><a href="">IELTS Writting check</a></li>
            </ul>
            
        </div>
        <div class="col3">
            <header>Language</header>
            <div class="col1ro11">
                <img src="../../assets/Images/Vector.png">
                <span>English <img src="../../assets/Images/arrow_down.svg"></span>
            </div>
            <h3>IDP IELTS</h3>
            <div class="logo">
                <a href><img src="../../assets/Images/Facebook.png"></a>
                <a href><img src="../../assets/Images/Instagram.png"></a>
                <a href><img src="../../assets/Images/Youtube.svg"></a>
            </div>
        </div>
    </div>
</div>