<div class="menu">
    <img src="../../assets/Images/IDP.svg">
    <img src="../../assets/Images/IETLS_white.svg">
    <ul class="footlinks">
        <li><a routerLink="home">IDP Education</a></li>
        <li><a routerLink="home">Contact</a></li>
        <li><a routerLink="home">Disclimer</a></li>
        <li><a routerLink="home">Privacy policy</a></li>
        <li><a routerLink="home">Terms</a></li>
        <li><a routerLink="home">Legal Notice</a></li>
        <li><a routerLink="home">IELTS referalk program</a></li>
        <li><a routerLink="home">copyright 2020 IELTS Australia</a></li>
    </ul>
</div>