<div class="preparemenu">
    <h1>{{printbooktestprepar}}</h1>
    <div class="row">
        <div class="col1">
            <img src="../../assets/Images/org_img1.png">
            <h2>Book your Test</h2>
            <p>{{printcol1p}}</p>
        </div>
        <div class="col2">
            <img src="../../assets/Images/org_img2.png">
            <h2>Prepare</h2>
            <p>{{printcol2p}}</p>
        </div>
        <div class="col3">
            <img src="../../assets/Images/org_img3.png">
            <h2>Results</h2>
            <p>{{printcol3p}}</p>
        </div>
    </div>
</div>

<div class="clr"></div>