<div class="menu">
    <h1>{{secondrowh1}}</h1>
    <div class="row">
        <div class="col1">
            <h2>IELTS Writing Task 2: 8 steps towards a Band 8</h2>
            <a routerLink="home">Readmore<img src="../../assets/Images/circle_arrow_green.svg"></a>
        </div>
        <div class="col2">
            <h2>IELTS Writing Task 2: 8 steps towards a Band 8</h2>
            <a routerLink="home">Readmore<img src="../../assets/Images/circle_arrow_green.svg"></a>
        </div>
        <div class="col3">
            <h2>IELTS Writing Task 2: 8 steps towards a Band 8</h2>
            <a routerLink="home">Readmore<img src="../../assets/Images/circle_arrow_green.svg"></a>
        </div>
    </div>
</div>
<div class="clr"></div>